@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #000000;
  --blue: #457d97;
  --white: #fffffd;
  --yellowLight: #fffdc0;
  --yellowMid: #f7d683;
  --yellowDark: #ccb24c;
}
